@* @using Kendo.Mvc.UI *@
@using NiotechoneCQRS.Web.Models
@using UserRes = NiotechoneCQRS.Utility.User.User
@using CommonRes = NiotechoneCQRS.Utility.CommonResource.AppResource
@{
    ViewBag.PageTitle = UserRes.AddUser;
    ViewBag.ShowBackButton = true;
    ViewBag.Breadcrumb = $"<i class='fa fa-folder'></i> {UserRes.UserList} <span class='sep'>/</span> <strong> {UserRes.AddUser} </strong>";
}
@model UserViewModel

@{
    ViewData["Title"] = @UserRes.AddUser;
}
<link href="~/css/user.css" rel="stylesheet" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:wght@400;500&family=Wix+Madefor+Display&display=swap" rel="stylesheet">


<!-- Tab Section -->
<div class="tab-section-master">
    <div class="tab-master">@UserRes.AddUser</div>
</div>

<form method="post" class="form-container-master">
    <div class="form-grid-master">
        <!-- Left Column -->
        <div class="form-column-master">
            <div class="input-group-master">
                <label>@UserRes.Company <span class="required-star">*</span></label>
                <div class="input-wrapper-master">
                    <svg class="input-icon-master" viewBox="0 0 20 20" fill="none">
                        <path d="M10 10C11.6569 10 13 8.65685 13 7C13 5.34315 11.6569 4 10 4C8.34315 4 7 5.34315 7 7C7 8.65685 8.34315 10 10 10Z" fill="#818898" />
                        <path d="M10 11C7.23858 11 5 13.2386 5 16V18H15V16C15 13.2386 12.7614 11 10 11Z" fill="#818898" />
                    </svg>
                    <input type="text" class="form-control" readonly value="@ViewBag.TenantName" />
                    <input type="hidden" asp-for="CompanyId" value="@ViewBag.CompanyId" />
                </div>
            </div>

            <div class="input-group-master">
                <label>@UserRes.FullName <span class="required-star">*</span></label>
                <div class="input-wrapper-master">
                    <svg class="input-icon-master" viewBox="0 0 20 20" fill="none">
                        <path d="M10 10C11.6569 10 13 8.65685 13 7C13 5.34315 11.6569 4 10 4C8.34315 4 7 5.34315 7 7C7 8.65685 8.34315 10 10 10Z" fill="#818898" />
                        <path d="M10 11C7.23858 11 5 13.2386 5 16V18H15V16C15 13.2386 12.7614 11 10 11Z" fill="#818898" />
                    </svg>
                    <input type="text" asp-for="FullName" placeholder="Enter full name" />
                </div>
                <span class="text-danger-master" asp-validation-for="FullName"></span>
            </div>

            <div class="input-group-master">
                <label>@UserRes.Email <span class="required-star">*</span></label>
                <div class="input-wrapper-master">
                    <svg class="input-icon-master" viewBox="0 0 20 20" fill="none">
                        <path d="M2.5 2.5H17.5C17.9602 2.5 18.3333 2.8731 18.3333 3.33333V16.6667C18.3333 17.1269 17.9602 17.5 17.5 17.5H2.5C2.03977 17.5 1.66667 17.1269 1.66667 16.6667V3.33333C1.66667 2.8731 2.03977 2.5 2.5 2.5ZM16.6667 6.0316L10.0598 11.9483L3.33333 6.01328V15.8333H16.6667V6.0316ZM3.75955 4.16667L10.0516 9.71833L16.2508 4.16667H3.75955Z" fill="#818898" />
                    </svg>
                    <input type="email" asp-for="Email" placeholder="Enter email address" />
                </div>
                <span class="text-danger-master" asp-validation-for="Email"></span>
            </div>

            <div class="input-group-master">
                <label>@UserRes.UserName <span class="required-star">*</span></label>
                <div class="input-wrapper-master">
                    <svg class="input-icon-master" viewBox="0 0 20 20" fill="none">
                        <path d="M10 10C11.6569 10 13 8.65685 13 7C13 5.34315 11.6569 4 10 4C8.34315 4 7 5.34315 7 7C7 8.65685 8.34315 10 10 10Z" fill="#818898" />
                        <path d="M10 11C7.23858 11 5 13.2386 5 16V18H15V16C15 13.2386 12.7614 11 10 11Z" fill="#818898" />
                    </svg>
                    <input type="text" asp-for="UserName" placeholder="Enter Username" />
                </div>
                <span class="text-danger-master" asp-validation-for="UserName"></span>
            </div>
        </div>

        <!-- Right Column -->
        <div class="form-column-master">
            <div class="input-group-master">
                <label>@UserRes.Address <span class="required-star">*</span></label>
                <div class="input-wrapper-master address-wrapper">
                    <svg class="input-icon-master" viewBox="0 0 20 20" fill="none">
                        <path d="M10 4C7.23858 4 5 6.23858 5 9C5 11.7614 7.23858 14 10 14C12.7614 14 15 11.7614 15 9C15 6.23858 12.7614 4 10 4ZM10 12C8.34315 12 7 10.6569 7 9C7 7.34315 8.34315 6 10 6C11.6569 6 13 7.34315 13 9C13 10.6569 11.6569 12 10 12Z" fill="#818898" />
                        <path d="M10 0C6.13401 0 3 3.13401 3 7C3 9.37868 4.29675 11.4785 6.34375 12.6562L10 15L13.6562 12.6562C15.7032 11.4785 17 9.37868 17 7C17 3.13401 13.866 0 10 0Z" fill="#818898" />
                    </svg>
                    <textarea asp-for="Address" placeholder="Enter address" class="address-textarea"></textarea>
                </div>
                <span class="text-danger-master" asp-validation-for="Address"></span>
            </div>

            <div class="input-group-master">                
                <div class="radio-group-master">
                    <div class="radio-item-master">
                        <label>@UserRes.Status <span class="required-star">*</span></label>
                        <input type="radio" asp-for="StatusId" value="1" id="StatusActive" />
                        <label for="StatusActive">@UserRes.Active</label>
                        <input type="radio" asp-for="StatusId" value="0" id="StatusInactive" />
                        <label for="StatusInactive">@UserRes.Inactive</label>
                    </div>
                </div>
            </div>

            <div class="input-group-master">
                <label>@UserRes.Phone <span class="required-star">*</span></label>
                <div class="input-wrapper-master phone-input-master">
                    <select class="country-code-master">
                        <option selected>+971</option>
                    </select>
                    <input type="text" asp-for="Phone" placeholder="Enter phone number" />
                </div>
                <span class="text-danger-master" asp-validation-for="Phone"></span>
            </div>

            <div class="input-group-master">
                <label>@UserRes.UserType <span class="required-star">*</span></label>
                <div class="input-wrapper-master">
                    <svg class="input-icon-master" viewBox="0 0 20 20" fill="none">
                        <path d="M5 5C5 3.89543 5.89543 3 7 3H13C14.1046 3 15 3.89543 15 5V7C15 8.10457 14.1046 9 13 9H7C5.89543 9 5 8.10457 5 7V5Z" fill="#818898" />
                        <path d="M3 11C3 9.89543 3.89543 9 5 9H15C16.1046 9 17 9.89543 17 11V13C17 14.1046 16.1046 15 15 15H5C3.89543 15 3 14.1046 3 13V11Z" fill="#818898" />
                        <path d="M5 17C3.89543 17 3 16.1046 3 15V13C3 11.8954 3.89543 11 5 11H15C16.1046 11 17 11.8954 17 13V15C17 16.1046 16.1046 17 15 17H5Z" fill="#818898" />
                    </svg>
                    <select asp-for="UserTypeId">
                        <option value="3" selected>Requestor</option>
                        <option value="4">Admin</option>
                        <option value="6">Client</option>
                        <option value="7">Supervisor</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="btn-group-master">
        <button type="submit" class="btn-primary-master">
            <svg viewBox="0 0 20 20" fill="white" width="16" height="16">
                <path d="M16.7071 5.70711C17.0976 5.31658 17.0976 4.68342 16.7071 4.29289C16.3166 3.90237 15.6834 3.90237 15.2929 4.29289L8 11.5858L4.70711 8.29289C4.31658 7.90237 3.68342 7.90237 3.29289 8.29289C2.90237 8.68342 2.90237 9.31658 3.29289 9.70711L7.29289 13.7071C7.68342 14.0976 8.31658 14.0976 8.70711 13.7071L16.7071 5.70711Z" fill="white" />
            </svg>
            @CommonRes.Save
        </button>
        <a asp-action="Index" asp-controller="User" class="btn-secondary-master">
            <svg viewBox="0 0 20 20" fill="currentColor" width="16" height="16">
                <path d="M4.29289 4.29289C4.68342 3.90237 5.31658 3.90237 5.70711 4.29289L10 8.58579L14.2929 4.29289C14.6834 3.90237 15.3166 3.90237 15.7071 4.29289C16.0976 4.68342 16.0976 5.31658 15.7071 5.70711L11.4142 10L15.7071 14.2929C16.0976 14.6834 16.0976 15.3166 15.7071 15.7071C15.3166 16.0976 14.6834 16.0976 14.2929 15.7071L10 11.4142L5.70711 15.7071C5.31658 16.0976 4.68342 16.0976 4.29289 15.7071C3.90237 15.3166 3.90237 14.6834 4.29289 14.2929L8.58579 10L4.29289 5.70711C3.90237 5.31658 3.90237 4.68342 4.29289 4.29289Z" fill="currentColor" />
            </svg>
            @CommonRes.Cancel
        </a>
    </div>
</form>
